body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #986675;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}


.signup-form {
    margin: 50px auto;
    width: 30%;
    background: rgba(255, 255, 255, 0.1);
    padding: 45px;
    border-radius: 10px;
}

.form-container {
    text-align: left;
}

h1, h2 {
    color: #f6eed5;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.offer {
    font-size: 14px;
    color: #d8c587;
    
        animation-duration: 5s;
        animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      
      
}

.checkbox {
    display: flex;
    align-items: end;
}


.logo {
    height: 7em; /* Taille ajustable */
    width: auto;  /* Garde les proportions */
}

